---
import Debug from 'astro/debug'
import { Markdown } from 'astro/components';
import { getPage } from '../services/notion.js'
// import TestMdx from '../components/TestMdx.mdx'
// import TestJsx from '../components/TestJsx.jsx'
import Planet from '../components/Planet.jsx'
import components from '../components/components.jsx'

// export async function getStaticPaths() {
// }

// const {page, blocks} = await homepage()
const { page, blocks, mdBlocks, mdString, MDXContent, mdxEvaluated } = await getPage()
// const mdxString = await mdx()

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<!-- <h1>Astro</h1> -->
		<!-- <Debug {blocks} /> -->
		<!-- <Debug {mdBlocks} />
		<Debug {mdString} />
		<Markdown content={mdString} />
		<Fragment set:html={mdString} /> -->
		<!-- <TestMdx {mdString} />
		<TestMdx {mdxString} /> -->
		<!-- <TestJsx /> -->

		<!-- <TestMdx /> -->
		<!-- <TestJsx {mdxEvaluated} /> -->
		<MDXContent code={`ABC`} components={{ Planet, ...components }} Layout={components.Layout} />
	</body>
</html>